import("AnnotationDbi")
import("RSQLite")
       
exportMethods(
    "db1ConverterECOLIK12",
    "addBimapObj",
    "deleteBimapObj",
	"listBimapObj",
	"setfilterBimapObj",
    "makeDbX",
    "addNewAnnotation",
    "addNewAnnotationFromDb1",
    "annotationPkgToHTML",
    "setIdLink"
)
export(
	".createBimapObjs",
	".dbSchema"
)
