import("AnnotationDbi")
import("RSQLite")

exportMethods(
    "db1ConverterECOLIK12",
    "addBimapObj",
    "deleteBimapObj",
	"listBimapObj",
	"setfilterBimapObj",
    "makeDbX",
    "makeDbX2",
    "addNewAnnotation" 
)
export(
	".createBimapObj",
	".getMapCounts"
)
